:root{
    --color-background: #152C3D;
    --color-footer_navbar: #035c9c;
    --color-footer-nav-text: white;
    --color-cuadro-secundario: #324C5E;
    --color-tablas-encabezado: #035c9c;
    --color-tablas-encabezado-texto: white;

    --color-cuadro-principal: #15354d;
    --color-tablas-background: #122837;
    --color-tablas-form: #16212a;
    --color-tablas-celda-texto: white;


    /* Colores para las tarjetas */
    --color-card-text: white;
    --color-card-background: #082338;

    /* Colores para hover en tablas */
    /*cambio de color al pasar el mouse por encima de una fila de la tabla*/
    --color-tablas-hover: #326589;

    /* Colores para las filas pares e impares */
    --color-tablas-filas-pares: #324C5E;
    --color-tablas-filas-impares: #326589;


    --boton-principal: #0784DE;
    --boton-secundario: #326589;


    --color-pagination-prevPage: #2377B3;
    --color-pagination-currentPage: #326589;
    --color-pagination-nextPage: #2377B3;
}
#perfil-link {
    display: none;
}
#cerrar-sesion-link{
    display: none;
}

.footer, .navbar-menu{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: var(--color-footer_navbar);
    color: var(--color-footer-nav-text);
    }
.footer > div > p > strong{
    color: var(--color-footer-nav-text);
}

body{
    background-color: var(--color-background);
}


#cuadro_principal{
    background-color: var(--color-cuadro-principal);
}
#cuadro_encabezado, #cuadro_encabezado > h1, #cuadro_encabezado > h2, #cuadro_encabezado > h2>b{
    background-color: var(--color-tablas-encabezado);
    color: var(--color-tablas-encabezado-texto);
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
#cuadro_encabezado > h1{
    margin-left: 1rem;
}
#cuadro_secundario{
    background-color: var(--color-cuadro-secundario);
}
#tabla_principal, #libros, #cuerpo_libros{
    background-color: var(--color-tablas-background);
}
#tabla_principal.table.is-hoverable tbody tr:hover {
    background-color: var(--color-tablas-hover);
    color: var(--color-tablas-celda-texto);
}
/* Styles for striped table */
#libros.table.is-striped tbody tr:nth-child(odd), #lista-libros li div.columns div.column:nth-child(odd) div {
    background-color: var(--color-tablas-filas-pares);
    color: var(--color-tablas-celda-texto);
}
#libros.table.is-striped tbody tr:nth-child(even) {
    background-color: var(--color-tablas-filas-impares);
}
/* Styles form_table */
#titulo, #autor, #año, #isbn, #paginas, #ejemplares, #sinopsis,#genero{
    background-color: var(--color-tablas-form);
}
.input, div.select>#tipo_prestamo, div.select>#tipo-busqueda, #genero {
    background-color: var(--color-tablas-form);
    color: white;
}
#tabla_columna, #tabla_principal>thead>tr>th, #tablaPrestamos>tr>td, .label,#tabla_principal>thead>tr>th>abbr{ 
    color : var(--color-tablas-celda-texto);
}
.title, .input, #tabla-prestamos tr, #sinopsis{
    color: white;
}
#boton_principal, #button-submit, #lista-libros li div.columns div.column:nth-child(even) button{
    background-color: var(--boton-principal);
}
#boton_secundario{
    background-color: var(--boton-secundario);
}

/* Styles pagination page */
#prevPage{
    background-color: var(--color-pagination-prevPage);
    color: white;
}
#currentPage{
    background-color: var(--color-pagination-currentPage);
}
#nextPage{
    background-color: var(--color-pagination-nextPage);
    color: white;
}

#etiqueta{ 
    background-color: blue;
}


.control > .input::placeholder {
    color: white;
}

.control > .input::-webkit-calendar-picker-indicator {
    filter: invert(75%);
}

.card{
    color: var(--color-card-text);
    background-color: var(--color-card-background);
}
#cards_libros > .card{
    height: 100%;
}
a > .content > .title, a > .content > .subtitle{
    color: var(--color-card-text);
}

.card > a >#content_libro{
    padding: 1rem;
}

.card > a > .card-image > .image > img{
    border-radius: 10px;
}