#cards_libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1rem;
    padding: 1rem;
}
.card {
    max-width: 15rem; 
    margin:0 auto;
}

.card img {
    width: auto;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}